@media only screen and (max-width: 768px) {
  .navbar {
    height: 10vh;
  }
  .header{
    margin-left: 0em;
  }
}

body {
  height: 100vh;
}

.header{
  height: 5em;
  margin-left: -2em;
}

.header-title {
  padding: 1em 1em;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.navbar {
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid black;
}

.navbar-start {
  flex-direction: column;
}

.navbar-menu {
  flex-direction: column;
}

.verticality {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-page {
  display: flex;
  justify-content: center;
}

